{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main_window.css' %}" type="text/css">
    <title>Main window</title>
</head>
<body>
    <nav>
        <div class="main">
            <input type="submit" value="Главная">
        </div>
        <div class="messages">
        <input type="submit" value="Сообщения">
        </div>
        <div class="profile">
            <input type="submit" value="Профиль">
        </div>
    </nav>

</body>
</html>