{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/card.css' %}" type="text/css">
    <title>Card</title>
</head>
<body>
    <nav>
        <div class="in_nav">
            <button class="register">Зарегистрироваться</button>
            <button class="log_in">Войти</button>
        </div>
    </nav>
    <h1>Визитка</h1>
    <p>Тут</p>
    <p>Большое</p>
    <p>Описание</p>
    <p>Что это</p>
    <p>И зачем</p>
</body>
</html>